<template>
    <div class="container-fluid" :class="style.mainStyle">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mx-auto" :class="style.cardStyle">
                    <div class="row" v-if="!loading">
                        <div class="col">
                            <h2 class="m-0 py-3" :class="style.loadingStyle">Loading...</h2>
                        </div>
                    </div>
                    <div class="card-body" v-if="loading">
                        <!--Top block start-->
                        <div class="row">
                            <div class="col-5 pr-4">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="amount">Sum for typing</label>
                                    <input type="text" class="form-control select-input" :class="style.selectInputStyle"
                                           id="amount" placeholder="Type conversion amount" v-model="amount"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-2 px-0">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="from">Cryptocurrency</label>
                                    <select class="form-control" :class="style.selectInputStyle" id="from"
                                            @change="selectCurrency"
                                            v-model="selectedFrom.symbol">
                                        <option v-for="coin in coins" :value="coin.symbol">
                                            {{ coin.symbol }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-5 pl-4">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="commission">Commission</label>
                                    <transition name="fade">
                                        <input type="text" class="form-control readonly"
                                               :class="style.selectInputStyle" id="commission" v-model="commission"
                                               readonly>
                                    </transition>
                                </div>
                            </div>
                        </div>
                        <!--Top block end-->

                        <!--Bottom block start-->
                        <div class="row">
                            <div class="col-5 pr-4">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="we-send">We send</label>
                                    <transition name="fade">
                                        <input type="text" class="form-control readonly"
                                               :class="style.selectInputStyle" id="we-send" v-model="share"
                                               readonly>
                                    </transition>
                                </div>
                            </div>
                            <div class="col-2 px-0">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="to">Currency</label>
                                    <i class="fa fa-exchange transfer" :class="style.transferStyle"
                                       @click="transferCurrency" aria-hidden="true"></i>
                                    <select class="form-control select-input" :class="style.selectInputStyle" id="to"
                                            @change="selectCurrency" v-model="selectedTo.symbol">
                                        <option v-for="currency in currencies" :value="currency.symbol">
                                            {{ currency.symbol }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-5 pl-4">
                                <div class="form-group mb-4">
                                    <label class="label" :class="style.labelStyle" for="you-receive">You receive</label>
                                    <transition name="fade">
                                        <input type="text" class="form-control readonly"
                                               :class="style.selectInputStyle" id="you-receive" v-model="receive"
                                               readonly>
                                    </transition>
                                </div>
                            </div>
                        </div>
                        <!--Bottom block end-->
                    </div>
                </div>
            </div>
        </div>
        <div class="spiner-block" align="center" v-if="convertLoading">
            <div class="spiner"></div>
        </div>
        <div class="row" v-if="loading">
            <div class="col-12" align="center">
                <button class="convert-button" :class="style.convertButtonStyle" @click="getOutput">Press me</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" align="center">
                <button :class="style.backButtonStyle" @click="reset">Go back</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" align="center">
                <img v-if="darkMode" class="nighty-style" :src="nightImage" alt="nighty-style" @click="changeStyle">
                <img v-else class="nighty-style" :src="lightImage" alt="lighty-style" @click="changeStyle">
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'Converter',
        props: ['convert-route', 'coins-currencies-route', 'night-image', 'light-image'],
        data() {
            return {
                fromCurrency: '',
                toCurrency: '',
                amount: '',
                share: '',
                receive: '',
                output: '',
                commission: '',
                loading: false,
                darkMode: true,
                convertLoading: false,
                style: {
                    mainStyle: 'main-dark',
                    responseStyle: 'response-dark',
                    labelStyle: 'label-dark',
                    loadingStyle: 'loading-dark',
                    cardStyle: 'card-dark',
                    selectInputStyle: 'select-input-dark',
                    convertButtonStyle: 'convert-button-dark',
                    backButtonStyle: 'back-button-dark',
                    readonlyStyle: 'readonly-dark',
                    transferStyle: 'transfer-dark',
                },
                selectedFrom: {
                    symbol: "BTC"
                },
                selectedTo: {
                    symbol: "EUR"
                },
                dafaultTo: {
                    symbol: "EUR"
                },
            }
        },
        computed: {
            ...mapGetters([
                'coins',
                'currencies',
                'currency'
            ]),
        },
        async mounted() {
            await this.$store.dispatch('fetchCoinsCurrencies', this.coinsCurrenciesRoute);

            if (!this.currencies.includes(this.dafaultTo)) {
                this.currencies.push(this.dafaultTo)
            }
            this.loading = true;
        },
        methods: {
            selectCurrency() {
                if (this.amount != '') {
                    this.getOutput()
                }
            },
            getOutput() {
                this.convertLoading = true;

                if (!this.currencies.includes(this.dafaultTo)) {
                    this.currencies.push(this.dafaultTo)
                }
                let amount = this.amount;
                amount = Number(amount);

                if (!Number.isInteger(amount)) {
                    setTimeout(function () {
                        this.$swal('Please type the amount number.');
                        this.convertLoading = false;
                    }, 3000);
                    return false;
                }

                if (amount !== '' && amount > 0) {
                    let fromCurrency = this.selectedFrom.symbol;
                    let toCurrency = this.selectedTo.symbol;
                    this.fetchConversion(amount, toCurrency, fromCurrency)
                } else {
                    this.$swal('Please type the amount number.');
                    this.convertLoading = false;
                    return false;
                }
            },
            calculateCommission(output) {
                let outPut = parseFloat(output);
                let commissionInt = parseFloat((outPut * 4.5) / 100);
                this.commission = commissionInt + ' ' + this.selectedTo.symbol;
                this.share = outPut + ' ' + this.selectedTo.symbol;

                let receive = this.receive;
                receive = outPut - commissionInt;
                this.receive = parseFloat(receive) + ' ' + this.selectedTo.symbol;
            },
            transferCurrency() {
                let selectedFrom = this.selectedFrom.symbol;
                let selectedTo = this.selectedTo.symbol;

                this.selectedFrom.symbol = selectedTo;
                this.selectedTo.symbol = selectedFrom;

                if (!this.coins.includes(this.selectedFrom)) {
                    this.coins.push(this.selectedFrom)
                }

                if (!this.currencies.includes(this.selectedFrom)) {
                    this.currencies.push(this.selectedFrom)
                }

                if (!this.coins.includes(this.selectedTo)) {
                    this.coins.push(this.selectedTo)
                }

                if (!this.currencies.includes(this.selectedTo)) {
                    this.currencies.push(this.selectedTo)
                }
            },
            async fetchConversion(amount, to, from) {
                let dataUrl = 'https://ru.cryptonator.com/rates/convert/?amount=' + amount + '&primary=' + from + '&secondary=' + to;

                let data = {
                    'url': this.convertRoute,
                    'dataUrl': dataUrl
                };

                await this.$store.dispatch('fetchConversion', data);

                this.convertLoading = false;
                this.output = this.currency;

                if (!this.output) {
                    this.$swal('Not enough data Please try later or choose another currency.');
                    this.reset();
                    return false;
                }
                this.calculateCommission(this.output);
            },
            reset() {
                this.fromCurrency = '';
                this.toCurrency = '';
                this.amount = '';
                this.share = '';
                this.receive = '';
                this.output = '';
                this.commission = '';
            },
            changeStyle() {
                let style;
                if (this.darkMode) {
                    this.darkMode = false;
                    style = 'light';
                } else {
                    this.darkMode = true;
                    style = 'dark';
                }
                this.style.responseStyle = 'response-' + style;
                this.style.labelStyle = 'label-' + style;
                this.style.loadingStyle = 'loading-' + style;
                this.style.cardStyle = 'card-' + style;
                this.style.selectInputStyle = 'select-input-' + style;
                this.style.convertButtonStyle = 'convert-button-' + style;
                this.style.backButtonStyle = 'back-button-' + style;
                this.style.readonlyStyle = 'readonly-' + style;
                this.style.transferStyle = 'transfer-' + style;
                this.style.mainStyle = 'main-' + style;
            }
        }
    }
</script>
<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }

    .fade-leave-active {
        transition: opacity 0s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .spiner {
        position: relative;
        width: 20px;
        height: 20px;
        animation: anim 1s linear .5s infinite;
    }

    .spiner:after {
        content: "";
        border-top: solid 3px #ff3c50;
        border-right: solid 3px transparent;
        border-bottom: solid 3px transparent;
        border-left: solid 3px transparent;
        border-radius: 100%;
    }

    @keyframes anim {
        100% {
            transform: rotate(360deg);
        }
    }


    /*Dark style*/
    .main-dark {
        background: #242432;
        min-height: 969px;
    }

    .transfer-dark {
        color: white;
        cursor: pointer;
        transform: rotate(90deg);
    }

    .response-dark {
        color: white;
    }

    .label-dark {
        color: white;
        font-size: 16px;
        line-height: 19px;
    }

    .loading-dark {
        color: white;
        text-align: center;
    }

    .card-dark {
        margin-top: 300px;
        width: 60%;
        background: #31313e;
        border-radius: 10px;
        box-shadow: -5px -5px 40px 5px #242432, 5px 5px 40px 5px #242432;
    }

    .select-input-dark {
        background: #3b3b49;
        color: #fba700;
        border-radius: 10px;
        border: none;
        height: 58px !important;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
    }

    .select-input-dark:focus {
        color: #fba700;
        background: #3b3b49;
    }

    .convert-button-dark {
        line-height: 16px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        width: 240px;
        height: 60px;
        background: #fba700;
        color: white;
        border-radius: 30px;
        border: none;
        outline: none;
        box-shadow: -3px -3px 20px 3px #242432, 3px 3px 20px 3px #242432;
    }

    .back-button-dark {
        margin-top: 20px;
        color: #fba700;
        background: none;
        border: none;
        font-size: 24px;
        line-height: 29px;
    }

    .back-button-dark:hover {
        text-decoration: underline;
        margin-top: 20px;
        color: #fba700;
        background: none;
        border: none;
    }

    .nighty-style {
        margin-top: 170px;
        cursor: pointer;
    }

    .readonly-dark {
        background: #3b3b49;
        color: #fba700;
    }


    /*Light style*/

    .main-light {
        background: white;
        min-height: 969px;
    }

    .transfer-light {
        color: #3232ee;
        cursor: pointer;
        transform: rotate(90deg);
    }

    .response-light {
        color: #3232ee;
    }


    .loading-light {
        color: #3232ee;
        text-align: center;
    }

    .card-light {
        margin-top: 300px;
        width: 60%;
        background: white;
        border-radius: 10px;
        box-shadow: -5px -5px 40px 5px lightgray, 5px 5px 40px 5px lightgray;
    }

    .select-input-light {
        background: #e1e1f1;
        color: #3232ee;
        border-radius: 10px;
        border: none;
        height: 58px !important;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
    }

    .select-input-light:focus {
        color: #3232ee;
        background: #e1e1f1;
    }

    .label-light {
        color: black;
        font-size: 16px;
        line-height: 19px;
    }

    .convert-button-light {
        line-height: 16px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        width: 240px;
        height: 60px;
        background: #2929cc;
        color: white;
        border-radius: 30px;
        border: none;
        outline: none;
        box-shadow: -3px -3px 20px 3px #242432, 3px 3px 20px 3px #242432;
    }

    .back-button-light {
        margin-top: 20px;
        color: #3232ee;
        background: none;
        border: none;
        font-size: 24px;
        line-height: 29px;
    }

    .back-button-light:hover {
        text-decoration: underline;
        margin-top: 20px;
        color: #3232ee;
        background: none;
        border: none;
    }

    .readonly-light {
        background: #e1e1f1;
        color: #3232ee;
    }
</style>
